/*Update to the body so that there is no space around edge of page*/
body {
    margin: 0;
}

#menu-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    float: right;
}

/*Navigation styles*/
ul {
    list-style-type: none;
    margin: 12px 80px 12px 0px;
    padding: 0;
    overflow: hidden;
    float: right;
    text-decoration: none;
}
  
li {
    float: left;
    text-decoration: none;
    display: block;
}
  
li a {
    font-size: 20px;
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 1px;
    background-image: linear-gradient(to bottom right,#686896, #000066);
    border: 2px solid white;
    border-radius: 8px;
}

li a:hover {
    color: white;
    top: -5px;
}

#nav-home:hover:after {
    content: url(Images/Cursor.png);
    display: block;
    position: fixed;
    top: 13px;
    right: 430px;
}

#nav-about:hover:after {
    content: url(Images/Cursor.png);
    display: block;
    position: fixed;
    top: 13px;
    right: 341px;
}

#nav-news:hover:after {
    content: url(Images/Cursor.png);
    display: block;
    position: fixed;
    top: 13px;
    right: 256px;
}

#nav-contact:hover:after {
    content: url(Images/Cursor.png);
    display: block;
    position: fixed;
    top: 13px;
    right: 169px;
}

/*Main site image at top of site*/
#site-img img {
    width: 100%;
}

/*About section updated using flex containers.*/
.section-header {
    margin: 2% 10%;
    text-align: center;
    font-size: 6em;
    text-decoration: underline;
}

.flex-container {
    margin: 0px 10%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
    align-content: space-between;
}

.flex-item {
    width: 47%;
    text-align: center;
}

.flex-item img {
    max-width: 100%;
}

.flex-text {
    padding: 1em;
}

/*News section*/
#news {
    background-color: rgb(20, 90, 67);
}

#news .section-header {
    color: white;
}

.news-text {
    text-align: center;
    font-size: 2em;
    color: white;
    width: 100%;
}